/** App Header styles */
header {
    height: 50px;
    width: 100vw;
    display: inline-flex;
}

.app-name {
    text-transform: lowercase;
    font-size: 24px;
}

p {
    max-width: 90%;
    margin: 10px 0 10px 0;
    line-height: 1.5rem;
}


 .nav-menu {
    list-style: none;
    display: inline-flex;
    justify-content: center;
}

.nav-menu li a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.nav-menu li a:hover {
    color: white;
    text-decoration: underline;
}

.hero-text {
    padding: 0 0 0 0;
}

p {
    font-size: large;
}

button {
    width: 150px;
    height: 30px; 
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background: white;
    color: black;
}

.hero-logo {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

figure {
    width: 100%;
}

figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/** Endblock of App Header styles */

/** For Mobile Devices -> xs */
 @media only screen and (max-width:480px) {

    nav {
        margin-left: 10px;
        background-color: inherit;
    }

} 


/** For Tablets -> sm */
@media only screen and (max-width:768px) {

    nav {
        margin-left: 50px;
        background-color: inherit;
    }

}

/** For Desktops -> md */
@media only screen and (max-width:768px) {

    nav {
        margin-left: 100px;
        background-color: inherit;
    }

}

/** For Large screens, eg. Laptops -> lg: */
@media only screen and (max-width:1200px) {

    nav {
        margin-left: 300px;
        background-color: inherit;
    }

}

/** For Extra Large Screens -> xlg: */
@media only screen and (min-width: 1201px) {

    nav {
        margin-left: 500px;
        background-color: inherit;
    }

}