@import url("app-css/navbar-and-hero-section.css");
@import url("app-css/connect-section.css");
@import url("app-css/about-section.css");
@import url("app-css/service-features-section.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    border: 1px solid inherit;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-gradient,
.connect-section-grid-item:hover {
    color: white;
    background: linear-gradient(to right, darkblue, red);
}

section {
    padding: 50px 0 50px 0;
}

.container-black {
    background: black;
    color: white; 
}

.head-text {
    text-transform: capitalize;
    font-size: 36px;
}


/** App Footer styles */
footer{
    display: none;
}

/** Endblock of App Footer styles */